:root {
    --heading-color: #223B74;
    --link-color: #0077B5;
    --padding: 20px;
}

.paper {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: auto;
  margin-top: 50px;
  background: white;
  box-shadow: 0 0 5px #d9d9d9;
  border-radius: 15px;
  box-sizing: border-box;
  color: #333;
  line-height: 1.5;
}

.flex {
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--link-color);
}

h3 {
    color: var(--heading-color);
    margin-bottom: 3px;
}

hr {
    border: none;
    border-top: 2px solid var(--heading-color);
}

.personal-details p{
    margin: 2px;
}

h3 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

h3::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid var(--heading-color);
    margin-left: 10px;
}

h4 {
    margin-bottom: 0px;
    margin-top: 2px;
}

.experience p, .achievements p, .about p, .projects p {
    margin: 2px;
}

.projects a, .projects ul {
    margin: 2px;
    margin-bottom: 10px;
}

.proj {
    margin-top: 20px;
    margin-bottom: 20px;
}

