body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Example 1 styles */
.search-bar input[type="text"] {
  margin-bottom: 8px;
  display: block;
}

.product-table {
  border-collapse: collapse;
  margin-top: 10px;
}

.product-table th, .product-table td {
  padding: 8px;
}

.out-of-stock {
  color: red;
}

/* Example 2 styles */
.food-list {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.food-column h3{
  background: #eef;
  padding: 10px;
  border-radius: 8px;
  flex: 1;
}

/* Example 3 styles */
.animal-list {
  display: flex;
  flex: 1;
  gap: 20px;
  margin-top: 10px;
}

.animal-card {
  border-radius: 6px;
  padding: 10px;
  width: 200px;
}
