:root {
    --heading-color: #223B74;
    --link-color: #0077B5;
    --padding: 20px;
}

.paper {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: auto;
  margin-top: 50px;
  background: white;
  box-shadow: 0 0 5px #d9d9d9;
  border-radius: 15px;
  box-sizing: border-box;
  color: #333;
  line-height: 1.5;
}

a {
    color: var(--link-color);
}

h3{
    color: var(--heading-color);
    margin-bottom: 5px;
}

.projects ul li{
    margin-bottom: 15px;
}

.personal-details p{
    margin: 3px;
}

hr {
  border: none;
  border-top: 1px solid var(--heading-color);
  margin: 5px 0;
}

.education h4, p,  .experience h4, p {
    margin: 0px;
}


.flex1, .flex2, .flex3, .flex4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}