body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f9fb;
  color: #333;
  margin: 0;
  padding: 0;
}
nav {
  background: #304E6B;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}
nav a:hover {
  text-decoration: underline;
}
h1 {
  color: #304E6B;
}
.container {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}
.post {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.post:last-child {
  border-bottom: none;
}
.post h3 {
    margin-bottom: 8px;
    color: #5482AE;
}
.post p {
    color: #555;
}

.container a {
    background: #304E6B;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
}

.container a:hover {
    text-decoration: underline;
}